---
name: paint
url: /paint
controller: PaintController as pc
---
<div class="fuse-pointer" id="fuse-pointer"></div>

<div id="white" class="color-div" style="background-color: #fff"></div>
<div id="red" class="color-div" style="background-color: #ff0000"></div>
<div id="blue" class="color-div" style="background-color: #0000ff"></div>
<div id="yellow" class="color-div" style="background-color: #ffff00"></div>

<canvas id="canvas" style="position: absolute; left: 100px; top: 0px;" width="2000" height="2000"></canvas>
